*{
    margin: 0;
    padding: 0;
}
#light{
   
    border:none;
   
    background-color: #000;
    
}
#container img{
    border: none;
}
#container{
    height: 575px;
    width: 1229px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
}
.game{
    position: absolute;
    height: 575px;
    width: 1229px;
    background: url("https://farm5.staticflickr.com/4751/40504509581_ff9ae9758a_o.gif") no-repeat center;
    background-size: 100% 100%;
    z-index: -1;
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
    
}

 .game button{
    margin-top: 400px;
    margin-left:40px ;
background-color: rgb(161, 0, 22);
height: 50px;
width: 150px;
color: white;
border: none;
border-radius: 10px;
font-size: 20px;
}
.game a{
    text-decoration: none;
    color: white;
}
.game img{
    margin-left: 175px;
    border-radius: 10px;
}
*{
    margin: 0px;
    padding: 0px;
    
}


#box{
    position: absolute;
    height: 500px;
    width: 50%;
    left: 30%;
    top: 55%;
    transform: translate(-50%, -50% );
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    place-items: center;
    cursor: pointer;
    border: 1px solid black;

}
.content{
    margin: 2%;
    background-color: rgb(122, 122, 122);
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    cursor: none;
    color: gray;
}
.scores h2{
    position: absolute;
    height: 20px;
    width: 80%;
    left: 25%;
    top: 10%;
    transform: translate(-50%, -50% );
    color: red;
    font-size: 20px;
    text-align: center;
}

#scoring{

    position: absolute;
    height: 20px;
    width: 80%;
    left: 30%;
    top: 10%;
    transform: translate(-50%, -50% );
    color: red;
    font-size: 20px;
    text-align: center;
}
#box:hover{
    background: url("https://i.pinimg.com/originals/36/bf/c1/36bfc1895232fdef87c1b1ced4b50534.gif")no-repeat;
    background-size: 100%;
    z-index: -1;
}
.onToggle1{
    transform-style: preserve-3d;
    background-color: brown;
    color: brown;
    
}

.cleared{
    background-color: rgb(29, 24, 22);
    transform: rotateY(180deg);
    animation: flip 1s;
}

@keyframes flip{
    from{
        opacity: 0%;
        transform: rotateY(0deg);
    }
    to{
        opacity: 100%;
        transform: rotateY(180deg);
        font-size: 100px;
        width: 250px;
        height: 250px;
        visibility: hidden;

    }
}
/* #a{
    background: white url("a.jpg") no-repeat center;
  }
  #b{
    background: white url("b.jpg") no-repeat center;
  }
  #c{
    background: white url("c.jpg") no-repeat center;
  }
  #d{
    background: white url("d.jpg") no-repeat center;
  }
  #f{
    background: white url("f.jpg") no-repeat center;
  }
  #g{
    background: white url("g.jpg") no-repeat center;
  } */
