.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App *{
height: 20px;
width: 350px;
margin: 15px;
text-align: center;
}
.output{
 
  display: flex;
  flex-direction: column;
}